/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: 700;
}

body {
    width: 100%;
    background: 
    linear-gradient(
        to bottom, 
        #009688 13vh, 
        #d6dbd8 13vh, 
        #d6dbd8);
}

img {
    width: 100%;
}

.ml-0-3 {
    margin-left: 0.3rem;
}

/* ACTIVE */
.show {
    display: flex;
}

.hide {
    display: none!important;
}

.active {
    background-color: #e9ebeb;
}

/* MAIN */
.app-wrapper {
    width: 80%;
    min-width: 700px;
    height: calc(100vh - 40px);
    min-height: 325px;
    margin: 20px auto;
    display: flex;
}

/* LEFT-SECTION */
/* COMMON */
.left-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.img-container {
    margin-left: 0.3rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    overflow: hidden;
}

/* LEFT-HEADER */
.left-header {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eaeaea;
}

.left-header span {
    font-size: 0.7rem;
    width: 53%;
}

.left-header i {
    text-align: center;
    width: 10%;
    color: #b1b1b1;
}

/* LEFT-BANNER */
.left-banner {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #8edafc;
}

.left-banner > .img-container {
    background-color: white;
    position: relative;
}

.img-container i {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8edafc;
}

.text-container {
    font-size: 0.7rem;
    width: 70%;
}

.text-container > a {
    color: #828282;
}

/* INPUT-SEARCH */
.input-search {
    height: 35px;
    background-color: #eaeaea;
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 2px;
}

.btn {
    height: 80%;
    width: 20%;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 0.2rem;
}

.btn > i {
    font-size: 0.7rem;
    color: #b1b1b1;
}

.search-container input {
    height: 80%;
    width: 79%;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    border: 1px solid #eaeaea;
    border-radius: 0.2rem;
    padding: 0.4rem;
}

.search-container > ::placeholder {
    color: #b1b1b1;
}

/* CONTACT-LIST */
.contacts-container {
    height: calc(100% - 135px);
    overflow-y: scroll;
}

.contacts {
    list-style: none;
}

.this-contact {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-container {
    margin: 0.3rem 0 0.3rem 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.this-contact > .text-container h5 {
    color: #828282;
}

.last-access {
    font-size: 0.5rem;
    color: #b1b1b1;
    margin-left: auto;
    margin-right: 0.4rem;
    text-align: end;
}

/* RIGHT-SECTION */
.right-section {
    width: 65%;
}

/* RIGHT-HEADER */
.right-header {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eaeaea;
    border-left: 1px solid #b1b1b1;
}

.right-header > .text-container h5 {
    color: #828282;
}

.right-nav {
    margin-left: auto;
}

.right-nav i {
    margin-right: 0.6rem;
    color: #b1b1b1;
}

/* RIGHT-CHAT */
.right-chat {
    height: calc(100% - 100px);
    width: 100%;
    padding-top: 0.8rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.message-row {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
    margin-bottom: 0.6rem;
    width: 30%;
}

.message-row.sent {
    align-items: flex-end;
    background-color: #d5f9ba;
    text-align: end;
    margin-left: auto;
}

.message-row.received {
    align-items: flex-start;
    background-color: white;
    text-align: left;
    margin-right: auto;

}

.message {
    padding: 0.4rem 0;
    border-radius: 0.5rem;
    font-size: 0.7rem;
}

.msg-time {
    float:right;
    text-align: end;
    font-size: 0.5rem;
    color: #b1b1b1;
}

/* RIGHT-FOOTER */
.right-footer {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3eeea;
    width: 100%;
}

.right-footer input {
    height: 80%;
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    border: 1px solid #eaeaea;
    border-radius: 0.2rem;
    padding: 0.4rem;
}

.right-footer i {
    text-align: center;
    width: 10%;
    color: #b1b1b1;
}
